@font-face {
  font-family: 'Anybody-Light';
  src: local('Anybody-Light'), url("../fonts/Anybody/static/Anybody/Anybody-Light.ttf") format('truetype')
}

html,
body {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(186, 182, 182);
  position: flex;
  border-bottom: 1px solid #dddddd;
  z-index: 5;
  position: fixed;
  width: 100%;
  top: 0px;
  height: 90px;
}

header nav {
  box-sizing: border-box;
  height: 100%;
  padding-left: 3.5%;
  display: flex;
  align-items: center;
}

nav img {
  width: 80px;
}

nav a {
  font-family: 'Nerko One', sans-serif;
  font-size: 30px;
  text-decoration: none;
  outline:none;
  color: rgb(219, 59, 112);
  letter-spacing: 1px;
  margin-right: 24px;
  text-transform: uppercase;
}


.banner {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
  height: 320px;
}


.banner h1 {
  background-color: rgb(186, 182, 182);
  color: #FFF;
  font-family: 'Anybody-Light';
  font-size: 20px;
  line-height: 40px;
  width: 68%;
  padding: 10px;
  position: relative;
  top: 65%;
  left: 1%;
  text-align: center;
}

.article {
  position: relative;
  top: 120px;
  width: 90%;
  margin: 0px auto;
}

article {
  padding: 10px;
  width: 80%;
  margin: 0px auto;
}

article p {
  font-size: 20px;
  font-family: 'Anybody-Light';

}

.button {
  border-radius: 4px;
  color: rgb(219, 59, 112);
  display: block;
  font-weight: bold;
  width: 150px;
  padding: 20px;
  margin: 40px auto;
  border: 2px solid rgb(219, 59, 112);
  text-decoration: none;
  text-align: center;
  font-family: 'Anybody-Light';
}

.button:hover {
  background-color: rgb(219, 59, 112);
  border: 1px solid rgb(219, 59, 112);
  color: #FFF;
}

footer {
  position: relative;
  top: 120px;
  background-color: rgb(186, 182, 182);
  color: #fff;
  padding: 30px 0;
}

footer p {
  padding-left: 30px;
  font-family: 'Nerko One', cursive;
  font-size: 25px;

}

td img {
  width: 200px;
  height: 300px;
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  padding-top: 100px;
}

.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 300px;
}

.call {
  font-size: 100px;
  position: relative;
  top:100px;
}