.article {
  position: relative;
  top: 120px;
  width: 90%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
}


.banner {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
  background-color: transparent;
  height: 320px;
  width: 500px;
}


.banner h1 {
  background-color: rgb(186, 182, 182);
  color: #FFF;
  font-size: 18px;
  line-height: 40px;
  width: 400px;
  height: 75px;
  padding: 5px;
  position: relative;
  top: 65%;
  left: 1%;
  text-align: center;
}


p {
  font-size: 20px;
  line-height: 35px;

}

.button {
  border-radius: 4px;
  color: rgb(219, 59, 112);
  display: block;
  font-weight: bold;
  width: 150px;
  padding: 20px;
  margin: 40px auto;
  border: 2px solid rgb(219, 59, 112);
  text-decoration: none;
  text-align: center;
  font-family: 'Anybody-Light';
}

.button:hover {
  background-color: rgb(219, 59, 112);
  border: 2px solid rgb(219, 59, 112);
  color: #FFF;
}