.main {
  padding: 120px 0px;
  background-color: white;
}

h2 {
  font-family: "RobotoSlab-Bold";
  font-size: 40px;
  color: rgb(219, 59, 112);
  text-align: center;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}

.column {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

.column img {
  margin: 10px auto;
  height: auto;
  width: auto;
}

p {
  font-size: 20px;
  font-family: 'Roboto-Light';
  line-height: 35px;
  padding-left: 20px;
}